.text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* HOMEPAGE */
#homepage {
  margin-top: 40px;
}


/* ALLPROJECTS */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individual-flex {
  display: flex;
  background-color: #A6E2DF;
  flex: 1 0 0;
  width: 50%;
  flex-basis: 33.333333%;
  padding: 10px;
  border: 3px solid white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  /* justify-items: center; */
}

.project-info {
  align-self: center;
}

a {
  color: #006D77;
  text-align: center;
}

.warning {
  border:1px solid coral;
  border-radius: 15px;
  text-align: center;
}

.all-title {
  color: #006D77;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

#flex-container {
  margin-top: 15px;
}

/* SINGLE PROJECTS */

#single-image {
  margin-bottom: 20px;
}

#first-column {
  text-align: justify;
  margin-top: 15px;
  border: solid #A6E2DF;
  border-radius: 25px;
  background-color: #A6E2DF;
}

#second-column {
  margin-top: 100px;
}

#id {
  word-wrap: break-word;
}

#content-container {
  margin-top: 15px;
  border: solid #A6E2DF;
  border-radius: 25px;
  background-color: #A6E2DF;
}

#progress {
  margin-bottom: -5px
}
