.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

/* homepage design top */
.home {
  background-color: #4681b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeName {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 50px;
}

.herf a{
  display: block;
  text-decoration: none;
  color: black;
  padding-right: 30px;
}

.homeName {
  min-height: 100px;
}

.about {
  background-color: #a9c6dd;
  min-height: 500px;
  text-align: center;
}

.home-learn-more {
  background-color: #b2bdc7;
  min-height: 500px;
}

.homeImage {
  padding-top: 15px;
  padding-bottom: 45px;
  padding-left: 40px;
  width: 50%;
}

.about-title {
  padding-top: 35px;
  padding-bottom: 15px;
  margin: 0;
}

.container {
  display: flex;
}

.container2 {
  padding: 30px;
  margin-right: 10px;
  font-size: 16px;
}

.trending {
  background-color: #d3dae0;
  min-height: 400px;
}

.impacts {
  background-color: #e8ecf0;
  min-height: 300px;
}

.social {
  background-color: #6ba1d8;
  min-height: 300px;
}

.socialImg {
  padding: 20px;
}
/* homepage design bottom */
